{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">CRUD con Django</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolore nihil. Minus odit accusamus consequuntur iusto atque hic, sed voluptatum nesciunt consectetur et labore quidem molestias expedita? Corporis accusantium, excepturi vitae rerum, cum molestiae eum nostrum at, odio incidunt quos quia beatae ratione sed ad necessitatibus veritatis distinctio. Ea nobis minus eos. Odit delectus aperiam minus, explicabo cumque nisi ad culpa vero adipisci quae! Eum explicabo nostrum, dicta quis quas in obcaecati neque vero delectus, beatae voluptas illum illo quos sit architecto officiis odit quia aliquid dolor ipsam natus. Rem, neque illum maiores fuga dicta quidem ipsa expedita esse quod.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/login/">
                Iniciar sesion
            </a>
            <a class="btn btn-dark" href="/registro/">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}